<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.cdnfonts.com/css/century-gothic" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="index/inicio/inicio.css">
    <link rel="stylesheet" href="index/inicio/inicio-contenido.css">
    <link rel="stylesheet" href="index/inicio/inicio-titulo.css">

    <link rel="stylesheet" href="index/cabecera/cabecera.css">
    <link rel="stylesheet" href="index/cabecera/cabecera-contenido.css">
    <link rel="stylesheet" href="index/cabecera/cabecera-idioma.css">

    <link rel="stylesheet" href="index/datos/datos.css">
    <link rel="stylesheet" href="index/datos/datos-contenido.css">
    <link rel="stylesheet" href="index/datos/datos-titulo.css">
    <link rel="stylesheet" href="index/datos/datos-imagen.css">
    <link rel="stylesheet" href="index/datos/datos-contenido-imagen.css">
    <link rel="stylesheet" href="index/datos/datos-contenido-nombre.css">
    <link rel="stylesheet" href="index/proyectos/proyectos.css">
    <link rel="stylesheet" href="index/proyectos/proyectos-boton.css">
    <link rel="stylesheet" href="footer/footer.css">
    <link rel="stylesheet" href="footer/footer-imagen.css">

    <title>My website</title>
</head>

<body >

    <main id="background" >
        <video class="background__video" muted loop autoplay>
            <source src="videos/macbook-3576.mp4">
        </video>
        <div class="capa"></div>

        <header class="cabecera">
            <div class="cabecera__contenido">
                <a class="cabecera__enlace" href="index.html">
                    <h1 class="cabecera__idioma">English</h1>
                </a>
            </div>

            <div class="cabecera__contenido">
                <a class="cabecera__enlace" href="index-spanish.html">
                    <h1 class="cabecera__idioma">Spanish</h1>
                </a>
            </div>

        </header>

        <section class="inicio">
            <div class="inicio__contenido">
                <h1 class="inicio__titulo">Welcome to my personal website template</h1>
            </div>
        </section>

        <section class="datos">

            <div class="datos__contenido">
                <h1 class="datos__titulo">Developer Front-end</h1>
            </div>

            <div class="datos__contenido--imagen">
                <img class="datos__imagen" src="imagenes/WhatsApp Image 2023-03-24 at 1.40.23 AM.jpeg" alt="">
            </div>

            <div class="datos__contenido--nombre">
                <h2 class="datos__nombre">Fredy Lozada</h2>
            </div>

        </section>

        <section class="proyectos">
            
            <a href="portafolio.html"><button class="proyectos__boton" type="button">Projects</button></a>

        </section>

        
        
        
        
    </main>
    <footer >
        <div class="footer">
            <div class="footer__contenido">
        
                <a class="footer__enlace" href="https://www.linkedin.com/in/fredy-santiago-lozada-8170111a0/"> <img class="footer__imagen" src="imagenes/git.png" alt="Logo GitHub"></a>
        
            </div>
        
            <div class="footer__contenido">
                <a  class="footer__enlace" href="https://github.com/xxsanty"> <img class="footer__imagen" src="imagenes/linkedin.png" alt="Logo Linkedlin"></a>
        
            </div>
        </div>
    </footer>

</body>

</html>